<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://py4ai.com/">
<meta property="og:title" content="Py4AI a PyData event">
<meta property="og:description" content="Py4AI a PyData event is a 1-day free event for the international community of Python and AI enthusiasts.">
<!-- <meta property="og:image" content="https://amsterdam.pydata.org/img/pydata-img-large.jpeg"> -->

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://py4ai.com/">
<meta property="twitter:title" content="Py4AI a PyData event">
<meta property="twitter:description" content="Py4AI a PyData event is a 1-day free event for the international community of Python and AI enthusiasts.">
<!-- <meta property="twitter:image" content="https://amsterdam.pydata.org/img/pydata-img-large.jpeg"> -->

<!-- Used to embet Tito ticketing -->
<script src='https://js.tito.io/v2' async></script>

<!-- Plausible Analytics -->
<script defer data-domain="py4ai.com" src="https://plausible.io/js/script.js"></script>
