
<section class="bar background-white">
    <div class="container">
        <div class="heading text-center"><h2>What to expect</h2></div>


        <div class="row vertical-align">
            <div class="col-lg-8">
                <p class="lead">
                    Py4AI is a 1-day event for the community of Python users and developers of Artificial Intelligence solutions. The event is organized by Python Milano community with the support of Argovision and PyData global network.
                </p>
                <p class="lead">
                    The event will be in-person at the Argovision HQ in Pavia, nearby Milan, Italy. (Via Treves 9E, 27100 Pavia) on Saturday, March 16, 2024.
                </p>
            </div>
        </div>
        <div class="col-lg-4 visible-xs visible-sm">
            <img src="/img/meetup1.jpeg" alt="" width="300">
        </div>
    </div>
</section>
