
<section class="bar background-white">
    <div class="container">
        <div class="heading text-center"><h2>A new conference for Python and AI lovers!</h2></div>


        <div class="row vertical-align">
                <p class="lead">
                    Py4AI is a 1-day free event for the community of Python users and developers of Artificial Intelligence solutions.
                    The event is organized by Python Milano community with the support of ARGO Vision, SEA Vision and PyData global network.
                </p>
        </div>
    </div>
</section>
