
<section class="bar background-white">
    <div class="container">
        <div class="heading text-center"><h2>A new conference for Python and AI lovers!</h2></div>


        <div class="row vertical-align">
                <p class="lead">
                    Py4AI is a 1-day <strong>free</strong> event for the community of Python and Artificial Intelligence developers. It will happen in Pavia, near Milan on <strong>16th March 2024</strong>.
                    Make sure to join to hear about the latest developments on NLP, MLOps, Computer Vision, Machine Learning, Generative AI, and more! We avoid sales pitches and focus on technical content thanks to our amazing speakers.
                </p>
        </div>
    </div>
</section>
