<section class="bar background-white no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>The Location</h2>
                </div>
                <div class="row vertical-align">
                    <div class="col-lg-7">
                        <p class="lead">
                            Py4AI will be hosted in SeaVision headquarters in Pavia.
                            Pavia is a beatiful town with a rich history within a short distance from Milan.
                            Besides being very well connected from Milan, a shuttle to go to the venue from Milan
                            will be arranged at no expenses for the participants.
                        </p>
                        <p class="lead"><strong>The Address:</strong><br>Via Claudio Treves, 9E<br>27100 Pavia, Italia</p>
                    </div>
                    <div class="col-lg-5 hidden-xs hidden-sm">
                        {{ $image := resources.Get "images/venue-seavision.jpg" }}
                        <img src="{{ ($image.Resize "600x webp").RelPermalink }}" alt="" width="542">
                    </div>
                </div>


            </div>

        </div>

    </div>
</section>

<section class="bar background-white no-mb">
    {{ if and .Site.Params.enableGoogleMaps .Site.Params.googleMapsApiKey }}
    {{ if isset .Site.Params "latitude" }}
    {{ if isset .Site.Params "longitude" }}
    <div class="hidden" height="">
        <input id="gmap-lat" value="{{ .Site.Params.latitude }}" />
        <input id="gmap-lng" value="{{ .Site.Params.longitude }}" />
        <input id="gmap-marker" value="{{ "img/marker.png" | relURL }}" />
        {{ if isset .Site.Params "direction" }}
        <input id="gmap-dir" value="{{ .Site.Params.direction }}" />
        {{ else }}
        <input id="gmap-dir" value="{{ .Site.Params.latitude }},{{ .Site.Params.longitude }}" />
        {{ end }}
    </div>
    <div id="map" />
    {{ end }}
    {{ end }}
    {{ end }}

</section>