<!-- FILEPATH: /c:/Users/MarcoSantoni/py4ai/layouts/partials/tickets.html -->
<section class="bar background-white">
    <div class="container">
        <div class="heading text-center">
            <h2>Tickets</h2>
        </div>

        <!-- place this in your head tag -->
        <script src='https://js.tito.io/v2' async></script>

        <div class="row vertical-align">
            <p class="lead">
                Make sure to reserve your spot at Py4AI. Tickets are free but limited.
            </p>
        </div>

        <!-- Place this where you want the widget to appear -->
        <tito-widget event="pydata/py4ai"></tito-widget>
    </div>
</section>
